/**
* ! Alterando os estilos padrões do navegador
**/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

i {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: white;
}

/**
* ! Estilos da Barra de Navegação
**/

.barra-navegacao {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: #212529;
    color: white;
    padding: 25px 60px;
    margin-bottom: 30px;
}

.carrinho {
    position: relative;
    background-color: #fff;
    color: #212529;
    font-size: 30px;
    padding: 5px;
    border-radius: 4px;
}

.quantidadeCarrinho {
    position: absolute;
    top: -15px;
    right: -10px;
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 3px;
    border-radius: 3px;
}

/**
* ! Estilos dos produtos da Loja
**/

.loja {
    display: grid;
    grid-template-columns: repeat(4, 223px);
    gap: 30px;
    justify-content: center;
    margin-bottom: 50px;
}

@media (max-width: 1000px) {
    .loja {
        grid-template-columns: repeat(2, 223px);
    }
}

@media (max-width: 500px) {
    .loja {
        grid-template-columns: repeat(1, 223px);
    }
}

.item {
    border: 2px solid #212529;
    border-radius: 4px;
}

.item img {
    width: 100%;
    border-radius: 2px 2px 0 0;
}

.detalhes {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
}

.preco-quantidade {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.botoes {
    display: flex;
    flex-direction: row;
    gap: 8px;
    font-size: 16px;
}

.bi-dash-lg {
    color: red;
}

.bi-plus-lg {
    color: green;
}

/**
* ! Estilos de rótulos e botões
**/

.text-center {
    text-align: center;
    margin-bottom: 20px;
}

.botao-loja,
.checkout,
.removerTudo {
    background-color: #212529;
    color: white;
    border: none;
    padding: 6px;
    border-radius: 3px;
    cursor: pointer;
    margin-top: 10px;
}

.checkout {
    background-color: green;
}

.removerTudo {
    background-color: red;
}

.bi-x-lg {
    color: red;
    font-weight: bold;
}

/**
* ! Estilos do Carrinho de Compras
**/

.carrinho-compras {
    display: grid;
    grid-template-columns: repeat(1, 320px);
    justify-content: center;
    gap: 15px;
    margin-bottom: 50px;
}

/**
* ! Estilos de cada item do carrinho
**/

.item-carrinho {
    border: 2px solid #212529;
    border-radius: 5px;
    display: flex;
}

.titulo-preco-x {
    width: 195px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.titulo-preco {
    display: flex;
    align-items: center;
    gap: 10px;
}

.preco-item-carrinho {
    background-color: #212529;
    color: white;
    border-radius: 4px;
    padding: 3px 6px;
    white-space: nowrap;
}
