:root {
    --graus: 0deg;
}

/* Fundo circular animado */
.bg-gradiente {
    background: conic-gradient(
        transparent 0deg,
        transparent var(--graus),
        white var(--graus),
        white 360deg
    );
}

/* Ponteiro rotativo */
.ponteiro {
    transform-origin: bottom center;
    transform: rotate(var(--graus));
}
