@import url("https://fonts.googleapis.com/css?family=Open+Sans&display=swap");

:root {
    --cor-sucesso: #2ecc71;
    --cor-erro: #e74c3c;
}

* {
    box-sizing: border-box;
}

body {
    background-color: #f9fafb;
    font-family: "Open Sans", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
}

.container {
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
}

h2 {
    text-align: center;
    margin: 0 0 20px;
}

.formulario {
    padding: 30px 40px;
}

.controle-formulario {
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.controle-formulario label {
    color: #777;
    display: block;
    margin-bottom: 5px;
}

.controle-formulario input {
    border: 2px solid #f0f0f0;
    border-radius: 4px;
    display: block;
    width: 100%;
    padding: 10px;
    font-size: 14px;
}

.controle-formulario input:focus {
    outline: 0;
    border-color: #777;
}

.controle-formulario.sucesso input {
    border-color: var(--cor-sucesso);
}

.controle-formulario.erro input {
    border-color: var(--cor-erro);
}

.controle-formulario small {
    color: var(--cor-erro);
    position: absolute;
    bottom: 0;
    left: 0;
    visibility: hidden;
}

.controle-formulario.erro small {
    visibility: visible;
}

.formulario button {
    cursor: pointer;
    background-color: #3498db;
    border: 2px solid #3498db;
    border-radius: 4px;
    color: #fff;
    display: block;
    font-size: 16px;
    padding: 10px;
    margin-top: 20px;
    width: 100%;
}
